<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shukurov Foteh</title>
  <link href="styles.css" rel="stylesheet"></link>
</head>
<body>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="images\IMG_9041.JPG" alt="MY" style="width:100%">
        <div class="container">
          <h2>Shukurov Foteh</h2>
          <p class="title">PROGRAMMER</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
