<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>
		{% block title %}
			Bloog Engine
		{% endblock %}
	</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="navbar-brand" href="{% url 'posts_list_url' %}">Posts</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'post_create_url' %}" class="nav-link">New Post</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'tag_list_url' %}" class="nav-link disabled">Tags list</a>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li> -->
				<li class="nav-item">
					<a href="{% url 'tag_create_url' %}" class="nav-link disabled">Tag Create</a>
				</li>
			</ul>
			<!-- <form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form> -->
		</div>
	</nav>
	<div class="container mt-5">
		<div class="row">
			<div class="col-6 offset-md-2">
				{% block content %}
					there is no any content
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>
